<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="main">
    <div id="home" data-bind="if: state() == STATES.HOME">
      <h2>Welcome to Itinerarie!</h2>
      <p>This is a short questionnaire about<br><span class="emph">transportation decisions</span>.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.CHOOSE_ACTIVITIES)}">continue</button>
    </div>
    <div id="choose-activities" data-bind="if: state() == STATES.CHOOSE_ACTIVITIES">
      <h2>Choose <span data-bind="text: NUM_ACTIVITIES_TO_PICK"></span> activities you might do this weekend!</h2>
      <div data-bind="foreach: DESTINATIONS">
          <button class="btn btn-full activity-btn" data-bind="text: name, click: $root.toggleActivity, css: {pickedActivity: $root.isPickedActivity($data)}"></button>
      </div>

      <button class="btn btn-full" data-bind="enable: NUM_ACTIVITIES_TO_PICK == pickedActivities().length, click: function(){state(STATES.INSTRUCTIONS)}">continue</button>
    </div>
    <div class="transition-screen" data-bind="if: state() == STATES.INSTRUCTIONS">
      <h2>Now that you have activities...</h2>
      <p>We want to know how you will get to them! For each you have a choice between</p>
      <tr>
        <td><div class="walk-instruct"><img src="/images/walk.png"><span class="emph">Walking</div></span></td>
        <td><div class="bike-instruct"><img src="/images/bike.png"><span class="emph">Renting a Hubway</div></span></td>
        <td><div class="public-instruct"><img src="/images/public.png"><span class="emph">Taking Public Transportation</div></spam></td>
        <td><div class="uber-instruct"><img src="/images/uber.ico"><span class="emph">Calling an Uber</span></div></td>
      </tr>
      <p>We will also show you the estimated <span class="emph">time and money</span> required to use each one.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.FIRST_QUESTIONS)}">continue</button>
    </div>
    <div id="first-questions" data-bind="if: state() == STATES.FIRST_QUESTIONS && currentActivity()">
      <!-- ko with: currentActivity() -->
      <h2>How are you going to get to <span data-bind="text: name" class="emph"></span>?</h2>
      <center>
      <table id="first-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>Cost ($)</td><td>Time (Min)</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td><div class="walk-img"><img src="/images/walk.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td><div class="bike-img"><img src="/images/bike.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td><div class="public-img"><img src="/images/public.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td><div class="uber-img"><img src="/images/uber.ico"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
        </tbody>
      </table>
    </center>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: firstResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div class="environment-switch-screen" data-bind="if: state() == STATES.TRANSITION_SCREEN">
      <h2>Good work! But...</h2>
      <p>Were you thinking of the <span class="emph">environment</span> when you were making your transportation decisions?</p>
      <p>Let's go through your day again, but now you'll see the <span class="emph">carbon</span> emitted from each choice too.</p>
      <p>Try reducing your <span class="emph">carbon</span> footprint!</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.SECOND_QUESTIONS)}">continue</button>
    </div>
    <div id="second-questions" data-bind="if: state() == STATES.SECOND_QUESTIONS && currentActivity()">
      <!-- ko with: currentActivity() -->
      <h2>How are you going to get to <span data-bind="text: name" class="emph"></span>?</h2>
      <center>
      <table id="second-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>Cost</td><td>Time</td><td>Carbon (lbs)</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td><div class="walk-img"><img src="/images/walk.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td><div class="bike-img"><img src="/images/bike.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td><div class="public-img"><img src="/images/public.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td><div class="uber-img"><img src="/images/uber.ico"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
        </tbody>
      </table>
    </center>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: secondResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div class="results-screen" data-bind="if: state() == STATES.RESULTS">
      <div data-bind="if: showDiff() == 0">
        <p>Your environmental impact didn't change between rounds, and that's ok!</p>
        <p>Keep in mind that</p>
        <h3>one fully mature tree</h3>
        <p>can only absorb</p>
        <h3>0.13 lbs of CO2 daily.</h3>
        <p>Our transportation decisions have an impact on the environment!</p>
        <button class="btn btn-full" data-bind="click: reset">done</button>
      </div>

      <div data-bind="if: showDiff() == -1">
        <p>During the second round, you consumed</p>
        <h3><span data-bind="text: carbon1()"></span> more lbs of CO2</h3>
        <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS2)}">How much is <span data-bind="text: carbon1()"></span> lbs of CO2?</button>
      </div>

      <div data-bind="if: showDiff() == 1">
        <div data-bind="if: totalSecond().time > totalFirst().time">
          <p>By spending an extra</p>
          <h3><span data-bind="text: totalSecond().time - totalFirst().time"></span> minutes</h3>
        </div>
        <div data-bind="if: totalSecond().time < totalFirst().time">
          <p>You saved <span data-bind="text: totalFirst().time-totalSecond().time"></span> minutes, AND</p> 
        </div>
        <p>You saved</p>
        <h3><span data-bind="text: carbon1()"></span> lbs of CO2</h3>        
        <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS2)}">How much is <span data-bind="text: carbon1()"></span> lbs of CO2?</button>
      </div>
    </div>

    <div class="results-screen" data-bind="if: state() == STATES.RESULTS2">
      <p>One mature tree</p>
      <img src="/images/tree.png" class="big-tree">
      <p>can only absorb</p>
      <h3>0.13 lbs of CO2 a day</h3>
      <p><span data-bind="text: carbon1()" class="emph"></span> lbs of CO2 is the equivalent of</p>
      <div data-bind="foreach: new Array(Math.floor(trees1()))">
        <img src="/images/tree.png" class="little-tree">
      </div>
      <h3><span data-bind="text: trees1()"></span> trees' daily CO2 intake!</h3>  
      <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS3)}">Why does this matter?</button>
    </div> 

    <div class="results-screen" data-bind="if: state() == STATES.RESULTS3">
      <p>CO2 is one of the leading contributors to air pollution and climate change. Collectively, our decisions can make a difference.</p>
      <p>If 1000 other MIT students changed their decisions like you did, we would <span data-bind="if: showDiff() == 1">save</span><span data-bind="if: showDiff() == -1">spend an extra</span></p>
      <h3><span data-bind="text: carbon1000()"></span> lbs of CO2 in just one weekend!</h3>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS4)}">continue</button>
    </div> 

    <div class="results-screen" data-bind="if: state() == STATES.RESULTS4">
      <h3>Some tips for making greener choices...</h3>
      <p>Click on a suggestion to find out more!</p>
      <div class="green-suggestion">
        <button class="btn btn-full btn-green" data-bind="click: function(){showBikeSuggest(!showBikeSuggest())}"><img src="/images/bike.png">Take a Hubway</button>
        <div data-bind="visible: showBikeSuggest()">
          <p>Hubway locations are common. There's even a renting location outside the Student Center. Fees are relatively low and biking in Cambridge can be faster and greener for the environment</p>
        </div>
      </div>
      <div class="green-suggestion">
        <button class="btn btn-full btn-green" data-bind="click: function(){showPublicSuggest(!showPublicSuggest())}"><img src="/images/public.png">Take Public Transportation</button>
        <div data-bind="visible: showPublicSuggest()">
          <p>Public transportation offers a carbon emission per passenger that is often half that of driving a personal vehicle. Opting for the T instead of calling an Uber can help reduce your contributed emissions</p>
        </div>
      </div>
      <div class="green-suggestion">
        <button class="btn btn-full btn-green" data-bind="click: function(){showCarSuggest(!showCarSuggest())}"><img src="/images/uber.ico">Carpool</button>
        <div data-bind="visible: showCarSuggest()">
          <p>Since personal vehicles generate a large amount of carbon emission, using Uber pool and carpooling in general lead to a much lower collective carbon release.</p>
        </div>
      </div>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS7)}">continue</button>
    </div> 

    <!-- <div class="results-screen" data-bind="if: state() == STATES.RESULTS5">
      <h3>Some tips for making greener choices...</h3>
      <p>Public transportation offers a carbon emission per passenger that is often half that of driving a personal vehicle. Opting for the T instead of calling an Uber can help reduce your contributed emissions</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS6)}">continue</button>
    </div> 

    <div class="results-screen" data-bind="if: state() == STATES.RESULTS6">
      <h3>Some tips for making greener choices...</h3>
      <p>Since personal vehicles generate a large amount of carbon emission, using Uber pool and carpooling in general lead to a much lower collective carbon release.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.RESULTS7)}">continue</button>
    </div>  -->

    <div class="results-screen" data-bind="if: state() == STATES.RESULTS7">
      <h3>Remember the environment when making transportation decisions!</h3>
      <button class="btn btn-full" data-bind="click: reset">done</button>
    </div> 
  </div>
</body>
</html>