<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="main">
    <div id="home" data-bind="if: state() == STATES.HOME">
      <h2>Welcome to Itinerarie!</h2>
      <p>This is a short questionnaire about<br><span class="emph">transportation decisions</span>.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.CHOOSE_ACTIVITIES)}">continue</button>
    </div>
    <div id="choose-activities" data-bind="if: state() == STATES.CHOOSE_ACTIVITIES">
      <h2>Choose <span data-bind="text: NUM_ACTIVITIES_TO_PICK"></span> activities you might do this weekend!</h2>
      <div data-bind="foreach: DESTINATIONS">
          <button class="btn btn-full activity-btn" data-bind="text: name, click: $root.toggleActivity, css: {pickedActivity: $root.isPickedActivity($data)}"></button>
      </div>

      <button class="btn btn-full" data-bind="enable: NUM_ACTIVITIES_TO_PICK == pickedActivities().length, click: function(){state(STATES.INSTRUCTIONS)}">continue</button>
    </div>
    <div id="home" data-bind="if: state() == STATES.INSTRUCTIONS">
      <h2>Now that you have activities...</h2>
      <p>We want to know how you will get to them! The following screens will let you choose between <span class="emph"> walking, biking, public transportation, and taking an Uber</span>. For each, we'll also tell you how much <span class="emph">time and money</span> we estimate each one will take.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.FIRST_QUESTIONS)}">continue</button>
    </div>
    <div id="first-questions" data-bind="if: state() == STATES.FIRST_QUESTIONS && currentActivity()">
      <!-- ko with: currentActivity() -->
      <h2>How are you going to get to <span data-bind="text: name" class="emph"></span>?</h2>
      <table id="first-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>$</td><td>time</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td><div class="walk-img"><img src="/images/walk.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td><div class="bike-img"><img src="/images/bike.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td><div class="public-img"><img src="/images/public.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td><div class="uber-img"><img src="/images/uber.ico"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
        </tbody>
      </table>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: firstResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div id="transition-screen" data-bind="if: state() == STATES.TRANSITION_SCREEN">
      <h2>Good work! But...</h2>
      <p>Were you thinking of the <span class="emph">environment</span> when you were making your transportation decisions?</p>
      <p>Let's go through your day again, but now we'll show you time, money and <span class="emph">carbon emissions</span> each one takes.</p>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.SECOND_QUESTIONS)}">continue</button>
    </div>
    <div id="second-questions" data-bind="if: state() == STATES.SECOND_QUESTIONS && currentActivity()">
      <h2>Choose your mode of transportation!</h2>
      <!-- ko with: currentActivity() -->
      <h3>Destination: <span data-bind="text: name"></span></h3>
      <table id="second-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>$</td><td>time</td><td>carbon</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td><div class="walk-img"><img src="/images/walk.png"></div></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td><div class="bike-img"><img src="/images/bike.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td><div class="public-img"><img src="/images/public.png"></td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td>car</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
        </tbody>
      </table>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: secondResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div id="results-screen" data-bind="if: state() == STATES.RESULTS">
      <h2>Results</h2>
      <div data-bind="if: showDiff() == 0">
        <p>Your environmental impact didn't change between rounds, and that's ok!</p>
        <p>Keep in mind that</p>
        <h3>one fully mature tree</h3>
        <p>can only absorb</p>
        <h3>0.13 lbs of CO2 daily.</h3>
        <p>Our transportation decisions have an impact on the environment!</p>
      </div>

      <div data-bind="if: showDiff() == -1">
        <p>During the second round, you consumed</p>
        <h3><span data-bind="text: carbon1()"></span> more lbs of CO2</h3>
        <p>If 1000 other MIT students did the same, we would spend</p>
        <h3><span data-bind="text: carbon1000()"></span> more lbs of CO2 in just one weekend.</h3>
        <p>That's the equivalent of</p>
        <h3><span data-bind="text: trees1000()"></span> trees' daily CO2 intake!</h3>     
      </div>

      <div data-bind="if: showDiff() == 1">
        <div data-bind="if: totalSecond().time > totalFirst().time">
          <p>By spending an extra</p>
          <h3><span data-bind="text: totalSecond().time - totalFirst().time"></span> minutes</h3>
        </div>
        <div data-bind="if: totalSecond().time < totalFirst().time">
          <p>You saved <span data-bind="text: totalFirst().time-totalSecond.().time"></span>, AND</p> 
        </div>
        <p>You saved</p>
        <h3><span data-bind="text: carbon1()"></span> lbs of CO2</h3>
        <p>If 1000 other MIT students did the same, we would save</p>
        <h3><span data-bind="text: carbon1000()"></span> lbs of CO2 in just one weekend.</h3>
        <p>That's the equivalent of</p>
        <h3><span data-bind="text: trees1000()"></span> trees' daily CO2 intake!</h3>        
      </div>

      <h3 data-bind="if: showDiff() != 0">Remember the environment when making transportation decisions!</h3>

      <button class="btn btn-full" data-bind="click: reset">done</button>
    </div>
  </div>
</body>
</html>