<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="main">
    <div id="home" data-bind="if: state() == STATES.HOME">
      <h2>Welcome to Itinerarie!</h2>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.CHOOSE_ACTIVITIES)}">continue</button>
    </div>
    <div id="choose-activities" data-bind="if: state() == STATES.CHOOSE_ACTIVITIES">
      <h2>What would you do in a weekend? (Pick <span data-bind="text: NUM_ACTIVITIES_TO_PICK"></span>)</h2>
      <div data-bind="foreach: DESTINATIONS">
          <button class="btn btn-full activity-btn" data-bind="text: name, click: $root.toggleActivity, css: {pickedActivity: $root.isPickedActivity($data)}"></button>
      </div>

      <button class="btn btn-full" data-bind="enable: NUM_ACTIVITIES_TO_PICK == pickedActivities().length, click: function(){state(STATES.FIRST_QUESTIONS)}">continue</button>
    </div>
    <div id="first-questions" data-bind="if: state() == STATES.FIRST_QUESTIONS && currentActivity()">
      <h2>Choose your mode of transportation!</h2>
      <!-- ko with: currentActivity() -->
      <h3>Destination: <span data-bind="text: name"></span></h3>
      <table id="first-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>$</td><td>time</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td>walk</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td>bike</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td>public</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td>car</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
          </tr>
        </tbody>
      </table>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: firstResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div id="transition-screen" data-bind="if: state() == STATES.TRANSITION_SCREEN">
      <h2>blablahblah transition</h2>
      <button class="btn btn-full" data-bind="click: function(){state(STATES.SECOND_QUESTIONS)}">continue</button>
    </div>
    <div id="second-questions" data-bind="if: state() == STATES.SECOND_QUESTIONS && currentActivity()">
      <h2>Choose your mode of transportation!</h2>
      <!-- ko with: currentActivity() -->
      <h3>Destination: <span data-bind="text: name"></span></h3>
      <table id="first-questions-table" class="questions-table">
        <thead>
          <tr><td></td><td>$</td><td>time</td><td>carbon</td></tr>
        </thead>
        <tbody>
          <tr data-bind="with: walkTransport, click: $root.selectTransport.bind($data, 'walkTransport'), css: {pickedTransport: $root.isPickedTransport('walkTransport')}">
            <td>walk</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: bikeTransport, click: $root.selectTransport.bind($data, 'bikeTransport'), css: {pickedTransport: $root.isPickedTransport('bikeTransport')}">
            <td>bike</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: publicTransport, click: $root.selectTransport.bind($data, 'publicTransport'), css: {pickedTransport: $root.isPickedTransport('publicTransport')}">
            <td>public</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
          <tr data-bind="with: carTransport, click: $root.selectTransport.bind($data, 'carTransport'), css: {pickedTransport: $root.isPickedTransport('carTransport')}">
            <td>car</td>
            <td data-bind="text: money"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: carbon"></td>
          </tr>
        </tbody>
      </table>
      <!-- /ko -->
      <button class="btn btn-full" data-bind="enable: firstResults().length > questionIndex(), click: next">continue</button>
    </div>
    <div id="results-screen" data-bind="if: state() == STATES.RESULTS">
      <h2>blablahblah results</h2>
      <h3>First Time:</h3>
      <div data-bind="foreach: firstResults">
        <p>Which: <span data-bind="text: name"></span> Carbon: <span data-bind="text: $data.details.carbon"></span></p>
      </div>
      <div>Total Carbon: <span data-bind="text: totalCarbonFirst()"></span></div>

      <h3>Second Time:</h3>
      <div data-bind="foreach: secondResults">
        <p>Which: <span data-bind="text: name"></span> Carbon: <span data-bind="text: $data.details.carbon"></span></p>
      </div>
      <div>Total Carbon: <span data-bind="text: totalCarbonSecond()"></span></div>

      <button class="btn btn-full" data-bind="click: function(){state(STATES.HOME)}">done</button>
    </div>
  </div>
</body>
</html>